body {
    background-color: slategray;
}

#display {
    height:40px;
    width: 500px;
    border: 2px solid black;
    text-align: right;
}
/* #keypad {
    display: flex;
} */

.keys {
    width:30px;
    height: 30px;
}

#clear{
    width: 75px;
    height: 30px;
}